[Unit]
Description=IBM IP Quorum
Documentation=https://www.ibm.com/support/knowledgecenter/ST3FR7_8.3.0/com.ibm.storwize.v7000.830.doc/svc_ipquorumconfig.html
After=local-fs.target network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/IBM/ip-quorum/log
ExecStart=/usr/bin/java -jar /opt/IBM/ip-quorum/ip_quorum.jar
Restart=on-failure
PrivateTmp=yes
InaccessibleDirectories=/home /root /var /boot
ReadOnlyDirectories=/etc /usr
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
